<title><%= full_title(yield(:title)) %></title>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
<meta name="keywords" content="<%= default_keyword(yield(:keyword)) %>"/>
<meta name="description" content="<%= default_description(yield(:description))%>"/>
